# DO NOT ignore:
# 1/ files in backend/src, frontend/src, frontend/static and shared/src (or in subdirectories).
# 2/ files build.sbt, project/build.properties, LICENSE, README.md and .gitignore
# ignore all other files.

*
!*/

!backend/src/**
!frontend/src/**
!frontend/static/**
!shared/src/**

!build.sbt
!project/build.properties
!project/plugins.sbt

!LICENSE
!README.md

!.gitignore
